/* General Styles */
.main {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font-family: lato;
}

.logo {
    -fx-text-fill: #595457;
    -fx-font-size: 15px;
}

.btn {
    -fx-background-color: #4D6CFA;
    -fx-border-radius: 1em;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.clicked {
    -fx-background-color: #03197C;
    -fx-border-radius: 1em;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.vbox-container {
    -fx-spacing: 3em;
    -fx-padding: 1em 1em;
}

.bills-container {
    -fx-background-color: #E5E5E5;
    -fx-background-radius: .5em;
    -fx-padding: 1em 2em;
}

.addexpenses-container {
    -fx-background-color: #E5E5E5;
    -fx-background-radius: .5em;
    -fx-padding: 1em 2em;
}

.added-expenses-items-container {
    -fx-spacing: 1em;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.message {
    -fx-background-color: #0041ab;
    -fx-background-radius: .5em;
    -fx-font-weight: bold;
    -fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
    -fx-text-fill: white;
}

.refreshBtn {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.invalidDate {
    -fx-background-color: #ff5151;
    -fx-background-radius: .5em;
    -fx-font-weight: bold;
    -fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
    -fx-text-fill: white;
}

.noData {
    -fx-background-color: #ff5151;
    -fx-background-radius: .5em;
    -fx-font-weight: bold;
    -fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-color: #ff5151;
    -fx-background-radius: .5em;
    -fx-font-weight: bold;
    -fx-label-padding: 0.1em 0.1em 0.1em 0.1em;
    -fx-text-fill: white;
}

.delete-button:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

.item-container {
    -fx-padding: 0.3em 0.1em 0.3em 0.1em;
    -fx-border-color: #DADADA;
    -fx-border-style: hidden hidden solid hidden;
}
